.annotatedText {
  font-size: 20px;
}

.marked.unknown {
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 200);
  text-decoration-thickness: 10%;
}

.marked.missing {
  text-decoration: underline;
  text-decoration-color: rgb(200, 0, 0);
  text-decoration-thickness: 10%;
}